/* CUSTOM-PROPS */
:root {
    --striking-color: #2bd0d0;
    --bg-color: #eff1f7;
    --paragraph-color: #9e9aa8;
    --heading-color: #34313d;
    --menu-color: #3a3054;
    --font-family: "Poppins";
}

/* FONT */
@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-Bold.woff2") format("woff2"),
        url("../font/Poppins-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-Medium.woff2") format("woff2"),
        url("../font/Poppins-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* GLOBAL */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family), "Arial", sans-serif;
    background-color: #fff;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

/* BUTTON */
.button {
    background-color: var(--striking-color);
    color: #fff;
    padding: 8px 24px;
    border-radius: 28px;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    background-color: #9ae3e3;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN */
.main-content {
    flex-grow: 1;
}


/* HEADER */
.header {
    padding-top: 48px;
    padding-bottom: 48px;
}

.header__container {
    display: flex;
    align-items: center;
}

/* LOGO */
.logo {
    display: flex;
    flex-shrink: 0;
    text-decoration: none;
    margin-right: 45px;
}

.logo__img {
    width: 120px;
    height: 32px;
    object-fit: contain;
}

/* SITENAV */
.sitenav {
    margin-right: auto;
    padding-right: 30px;
}

.sitenav__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.sitenav__link {
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    font-weight: 700;
    font-size: 15px;
    line-height: normal;
    color: var(--paragraph-color);
    transition: color 0.3s ease;
}

.sitenav__link:hover {
    opacity: 0.8;
}

.sitenav__link:active {
    color: var(--heading-color);
}

.signup {
    display: flex;
    align-items: center;
    gap: 38px;
}

.signup__login,
.signup__signup {
    font-weight: 700;
    font-size: 15px;
    line-height: normal;
    text-decoration: none;
}

.signup__login {
    color: var(--paragraph-color);
}

.signup__signup {
    color: #fff;
    white-space: nowrap;
    transition: opacity 0.3s ease;
}

/* MENU-BTN */
.menu-btn {
    width: 24px;
    height: 21px;
    display: none;
}

/* MOBILE-MENU */
.mobile-menu {
    width: 80vw;
    max-width: 327px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 10px;
    background-color: var(--menu-color);
    color: #fff;
    padding: 40px 24px;
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    z-index: 999;
}

.mobile-menu__active {
    transform: translateX(0%);
    top: 96px;
    right: 10%;
}

/* SITENAV-M */
.sitenav-m {
    width: 100%;
}

.sitenav-m__list {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--paragraph-color);
}

.sitenav-m__link {
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: normal;
}

.signup-m {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.signup-m__login,
.signup-m__signup {
    margin-bottom: 24px;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}

.signup-m__login {
    line-height: normal;
    color: #fff;
}

.signup-m__signup {
    width: 100%;
    text-align: center;
}


/* HERO */
.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    background-image: url("../img/hero-bg.svg");
    background-repeat: no-repeat;
    background-size: 733px 482px;
    background-position: top 0px left calc(50% + 490px);
}

.hero__container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero__content {
    width: 100%;
    max-width: 565px;
    padding-top: 60px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-self: flex-start;
}

.hero__title {
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: -2px;
    color: var(--heading-color);
    margin-top: 0;
    margin-bottom: 5px;
}

.hero__subtitle {
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: var(--paragraph-color);
    margin-top: 0;
    margin-bottom: 38px;
}

.hero__button {
    text-decoration: none;
    padding: 13px 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: normal;
}

.form {
    width: 100%;
    transform: translateY(50%);
}

.form__group {
    display: flex;
    align-items: center;
    gap: 24px;
    height: 168px;
    width: 100%;
    background-image: url("../img/input-bg.svg");
    border-radius: 10px;
    padding: 52px 64px;
    position: relative;
    z-index: 888;
}

.form__input {
    width: 780px;
    padding: 17px 32px;
    border-radius: 10px;
    border: 0px;
    font-size: 20px;
}

.form__input::placeholder {
    color: rgba(52, 49, 61, 0.5);
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.15px;
}

.form__button {
    padding: 17px 40px;
    border: 0;
    border-radius: 10px;
}

/* MEDIA-QUERIES */
/* 800PX */
@media only screen and (max-width: 800px) {
    /* HEADER */
    .sitenav,
    .signup {
        display: none;
    }

    .header__container {
        justify-content: space-between;
    }

    .menu-btn {
        display: block;
    }

    /* HERO */
    .hero {
        background-size: 661px 487px;
        background-position: left 100px top 0px;
    }

    .hero__content {
        padding-top: 490px;
        align-self: center;
        align-items: center;
    }

    .hero__title {
        font-size: 70px;
        line-height: 75px;
        text-align: center;
        margin-bottom: 20px;
    }

    .hero__subtitle {
        text-align: center;
    }

    .form__group {
        flex-direction: column;
        padding: 24px;
    }

    .form__button,
    .form__input {
        width: 100%;
    }
    
    .form__input {
        padding: 17px 40px;
    }
}

/* MEDIA-QUERIES */
/* 600PX */
@media only screen and (max-width: 600px) {
    /* HERO */
    .hero {
        padding-top: 25px;
        background-size: 611px 437px;
        background-position: left 50px top 0px;
    }

    .hero__content {
        padding-top: 440px;
    }

    .hero__title {
        font-size: 58px;
        line-height: 65px;
        margin-bottom: 15px;
    }

    .hero__subtitle {
        margin-bottom: 32px;
    }
}

/* MEDIA-QUERIES */
/* 450PX */
@media only screen and (max-width: 450px) {
    /* HERO */
    .hero {
        background-size: 561px 387px;
        background-position: left 40px top 0px;
    }

    .hero__content {
        padding-top: 400px;
    }

    .hero__title {
        font-size: 50px;
        line-height: 55px;
    }
}

/* MEDIA-QUERIES */
/* 400PX */
@media only screen and (max-width: 400px) {
    /* HERO */
    .hero {
        background-size: 541px 367px;
        background-position: left 30px top 0px;
    }

    .hero__content {
        padding-top: 380px;
    }

    .hero__title {
        font-size: 45px;
        line-height: 50px;
    }
}

/* MEDIA-QUERIES */
/* 375PX */
@media only screen and (max-width: 375px) {
    /* HERO */
    .hero {
        background-size: 511px 337px;
        background-position: left 24px top 0px;
    }

    .hero__content {
        padding-top: 374px;
    }

    .hero__title {
        font-size: 42px;
        line-height: 48px;
    }

    .hero__subtitle {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.12px;
    }

    .form__group {
        gap: 16px;
        height: 160px;
    }

    .form__input,
    .form__button {
        padding: 15px 38px;
    }
    
    .form__input::placeholder {
        font-size: 16px;
        letter-spacing: 0.12px;
    }
}

/* 350PX */
@media only screen and (max-width: 350px) {
    .header__container {
        padding-left: 18px;
        padding-right: 18px;
    }
}

/* MEDIA-QUERIES */
/* 330PX */
@media only screen and (max-width: 330px) {
    /* HERO */
    .hero {
        background-size: 491px 317px;
    }

    .hero__title {
        font-size: 38px;
        line-height: 44px;
    }

    .hero__subtitle {
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.8px;
    }

    .form__group {
        gap: 14px;
        height: 150px;
    }

    .form__input,
    .form__button {
        padding: 12px 30px;
    }
    
    .form__input::placeholder {
        font-size: 12px;
        letter-spacing: 0.12px;
    }
    
    .hero__button {
        font-size: 17px;
        padding: 10px 30px;
    }
}

/* MEDIA-QUERIES */
/* 300PX */
@media only screen and (max-width: 300px) {
    /* HERO */
    .hero__content {
        padding-top: 324px;
    }

    .hero {
        background-size: 441px 267px;
    }

    .hero__title {
        font-size: 35px;
        line-height: 38px;
    }

    .hero__subtitle {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.6px;
    }
}