/* CUSTOM-PROPS */
:root {
    --striking-color: #2bd0d0;
    --bg-color: #eff1f7;
    --paragraph-color: #9e9aa8;
    --heading-color: #34313d;
    --menu-color: #3a3054;
    --font-family: "Poppins";
}

/* FONTChange Autocomplete styles in Chrome */
@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-Bold.woff2") format("woff2"),
    url("../font/Poppins-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-Medium.woff2") format("woff2"),
    url("../font/Poppins-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-MediumItalic.woff2") format("woff2"),
    url("../font/Poppins-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

/* GLOBAL */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family), "Arial", sans-serif;
    background-color: #fff;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

/* VALID/INVALID */
.form-statistics__input:not(:focus):not(:placeholder-shown):invalid {
    border-color: #f46363;
    color: #f46363;
}

/* CHANGE-AUTOFILL */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-color: transparent;
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

/* BUTTON */
.button {
    background-color: var(--striking-color);
    color: #fff;
    padding: 8px 24px;
    border-radius: 28px;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    text-transform: capitalize;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    background-color: #9ae3e3;
}

.header__logo:hover,
.footer__logo:hover {
    opacity: 0.8;
}

.header__logo:active,
.footer__logo:active {
    opacity: 0.6;
} 

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN */
.main {
    flex-grow: 1;
}


/* HEADER */
.header {
    padding-top: 48px;
    padding-bottom: 48px;
}

.header__container {
    display: flex;
    align-items: center;
}

/* LOGO */
.header__logo {
    display: flex;
    flex-shrink: 0;
    text-decoration: none;
    margin-right: 45px;
    transition: opacity 0.3s ease;
}

.header__img {
    width: 120px;
    height: 32px;
    object-fit: contain;
}

/* SITENAV */
.sitenav {
    margin-right: auto;
    padding-right: 30px;
}

.sitenav__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.sitenav__link {
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    font-weight: 700;
    font-size: 15px;
    line-height: normal;
    color: var(--paragraph-color);
    transition: color 0.3s ease;
}

.sitenav__link:hover,
.mobile-header__link:hover {
    opacity: 0.8;
}

.sitenav__link:active {
    align-items: center;
    gap: 38px;
}

.signup__login,
.signup__signup {
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.signup__login {
    color: var(--paragraph-color);
    transition: opacity 0.3s ease;
    margin-right: 37px;
}

.signup__login:hover {
    opacity: 0.8;
}

.signup__login:active {
    opacity: 0.6;
}

.signup__signup {
    color: #fff;
    white-space: nowrap;
}

/* MENU-BTN */
.header__btn {
    width: 24px;
    height: 21px;
    display: none;
    color: var(--paragraph-color);
    transition: color 0.3s ease;
}

.header-btn:hover {
    color: var(--menu-color);
}

/* MOBILE-MENU */
.header__mobile {
    width: 80vw;
    max-width: 327px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 10px;
    background-color: var(--menu-color);
    color: #fff;
    padding: 40px 24px;
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    z-index: 999;
    display: none;
}

.mobile-header__active {
    transform: translateX(0%);
    top: 96px;
    right: 10%;
}

/* SITENAV-MOBILE */
.mobile-header__sitenav {
    width: 100%;
}

.mobile-header__list {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--paragraph-color);
}

.mobile-header__link {
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: normal;
    transition: color 0.3s ease;
}

.mobile-header__link:active {
    color: var(--striking-color);
}

.header__auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.auth-header__login,
.auth-header__signup {
    margin-bottom: 24px;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}

.auth-header__login {
    line-height: normal;
    color: #fff;
    transition: opacity 0.3s ease, color 0.3s ease;
}

.auth-header__login:hover {
    opacity: 0.8;
}

.auth-header__login:active {
    color: var(--paragraph-color);
}

.auth-header__signup {
    width: 100%;
    text-align: center;
}


/* HERO */
.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 152px;
    background-image: url("../img/hero-bg.svg");
    background-repeat: no-repeat;
    background-position: top 25px left calc(50% + 474px);
}

.hero__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.hero__content {
    width: 100%;
    max-width: 565px;
    padding-top: 60px;
    padding-bottom: 54px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-self: flex-start;
}

.hero__title {
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: -2px;
    color: var(--heading-color);
    margin-top: 0;
    margin-bottom: 5px;
}

.hero__subtitle {
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
    color: var(--paragraph-color);
    margin-top: 0;
    margin-bottom: 38px;
}

.hero__button {
    text-decoration: none;
    padding: 13px 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: normal;
}


/* STATISTICS */
.statistics {
    padding-bottom: 120px;
    background-color: var(--bg-color);
}

.statistics__url {
    top: -84px;
    position: relative;
    padding-bottom: 30px;
}

.statistics__form {
    width: 100%;
    position: relative;
    background-image: url("../img/input-bg.svg");
    background-repeat: no-repeat;
    padding: 52px 64px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    transition: box-shadow 0.3s ease;
}

.statistics__form:hover {
    box-shadow: 5px 5px 50px 0px rgba(43, 208, 208, 1);
}

.form-statistics__input {
    width: 100%;
    display: block;
    padding: 11px 32px;
    border-radius: 10px;
    border: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: var(--heading-color);
    border: 3px solid transparent;
}

.form-statistics__button {
    border-radius: 10px;
    background-color: var(--striking-color);
    color: #fff;
    padding: 17px 40px;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: normal;
}

.form-statistics__input:not(:focus):not(:placeholder-shown):invalid ~ .form-statistics__error {
    position: absolute;
    font-weight: 500;
    font-size: 16px;
    font-style: italic;
    line-height: 18px;
    letter-spacing: 0.15px;
    color: #f46363;
    top: 127px;
    left: 64px;
    display: block;
}

.form-statistics__error {
    display: none;
}

.statistics__result {
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
    display: none;
}

.statistics-open {
    display: flex;
}

.result-statistics__item {
    background-color: #fff;
    padding: 16px 24px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.result-statistics__text,
.result-statistics__url {
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.15px;
}

.result-statistics__text {
    margin-right: auto;
    color: var(--heading-color);
}

.result-statistics__url {
    margin-right: 24px;
    color: var(--striking-color);
}

.result-statistics__button {
    border-radius: 5px;
    background-color: var(--striking-color);
    padding: 8px 20px;
    border: 0;
    font-weight: 700;
    font-size: 15px;
    line-height: normal;
    color: #fff;
    min-width: 103px;
}

.result-btn-active {
    background-color: var(--menu-color);
}

.statistics__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    color: var(--heading-color);
    margin-top: 0;
    margin-bottom: 18px;
    text-align: center;
    text-transform: capitalize;
}

.statistics__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: var(--paragraph-color);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 540px;
    margin-top: 0;
    margin-bottom: 100px;
}

.statistics__cards {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    position: relative;
    width: 100%;
    z-index: 1000;
}

.statistics__card {
    width: 100%;
    max-width: 350px;
    padding: 78px 32px 40px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    transition: box-shadow 0.3s ease;
}

.statistics__card:hover {
    box-shadow: 5px 5px 50px 0px rgba(58,48,84,0.5);
}

.statistics__card:nth-child(2) {
    margin-top: 44px;
}

.statistics__card:nth-child(3) {
    margin-top: 88px;
} 

.card-statistics__wrapper {
    position: absolute;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: var(--menu-color);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    transform: translateY(-50%);
}

.card-statistics__img {
    width: 40px;
    height: 40px;
}

.statistics__card:nth-child(3)
.card-statistics__img {
    width: 47px;
    height: 48px;
}

.card-statistics__title {
    font-weight: 700;
    font-size: 22px;
    line-height: normal;
    color: var(--heading-color);
    margin-top: 0;
    margin-bottom: 12px;
}

.card-statistics__subtitle {
    margin: 0;
    color: var(--paragraph-color);
}

.statistics__divider {
    border: 0;
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: var(--striking-color);
    top: 148px;
    z-index: -777;
    margin: 0;
}


/* STARTED */
.started {
    background-image: url("../img/started-bg.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: var(--menu-color);
}

.started__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 57px;
    padding-bottom: 57px;
}

.started__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    color: #fff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 32px;
}

.started__button {
    border-radius: 28px;
    padding: 13px 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: normal;
    text-decoration: none;
    text-transform: capitalize;
}


/* FOOTER */
.footer {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #232127;
    color: #fff;
}

.footer__container {
    display: flex;
    align-items: flex-start;
}

.footer__logo {
    display: flex;
    flex-shrink: 0;
    text-decoration: none;
    margin-right: auto;
    transition: opacity 0.3s ease;
}

.footer__img {
    width: 120px;
    height: 32px;
    object-fit: contain;
}

.footer__lists {
    display: flex;
    align-items: flex-start;
    margin-right: 100px;
}

.footer__list:first-child {
    margin-right: 78px;
}

.footer__list:nth-child(2) {
    margin-right: 107px;
}

.footer__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer__item:not(:last-child) {
    margin-bottom: 7px;
}

.footer__item:first-child {
    margin-bottom: 22px;
}

.footer__item:first-child .footer__link {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.footer__link {
    text-decoration: none;
    color: #bfbfbf;
    font-weight: 500;
    font-size: 15px;
    line-height: normal;
    text-transform: capitalize;
    transition: color 0.3s ease;
    display: inline-block;
    letter-spacing: -0.25px;
}

.footer__socials {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer__icon {
    display: flex;
}

.footer__svg {
    color: #fff;
    transition: color 0.3s ease, opacity 0.3s ease;
}

.footer__link:hover,
.footer__svg:hover {
    opacity: 0.8;
}

.footer__link:active,
.footer__svg:active {
    color: var(--striking-color);
}

/* MEDIA-QUERIES */
/* 1150PX */
@media only screen and (max-width: 1150px) {
    /* STATISTICS */
    .statistics__cards {
        flex-direction: column;
        align-items: center;
        gap: 92px;
        height: 100%;
    }
    
    .card-statistics__title,
    .card-statistics__subtitle {
        text-align: center;
    }
    
    .statistics__subtitle {
        margin-bottom: 92px;
    }
    
    .card-statistics__wrapper {
        left: 50%;
        transform: translateX(-50%);
        top: -44px;
    }
    
    .statistics__divider {
        top: 0;
        width: 8px;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .statistics__canksrd:nth-child(2),
    .statistics__card:nth-child(3) {
        margin-top: 0px;
    }
}

/* MEDIA-QUERIES */
/* 1000PX */
@media only screen and (max-width: 1000px) {
    /* STATISTICS */
    .statistics__url {
        padding-bottom: 0px;
    }

    .statistics__form {
        flex-direction: column;
        gap: 16px;
        padding: 24px;
    }
    
    .form-statistics__input {
        font-size: 16px;
        line-height: 36px;
        letter-spacing: 0.12px;
        padding: 5px 16px;
    }
    
    .form-statistics__button {
        width: 100%;
        padding: 12px 10px;
        font-size: 18px;
    }
    
    .form-statistics__input:not(:focus):not(:placeholder-shown):invalid ~ .form-statistics__error {
        display: none;
    }
    
    .result-statistics__item {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 15px;
        overflow-x: hidden;
    }
    
    .result-statistics__text,
    .result-statistics__url {
        font-size: 16px;
        width: 100%;
        margin: 0;
    }
    
    .result-statistics__text {
        padding-bottom: 6px;
        border-bottom: 1px solid rgba(158, 154, 168, 0.25);
        width: 100%;
    }
    
    .result-statistics__url {
        padding-top: 7px;
        padding-bottom: 7px;
    }
    
    .result-statistics__button {
        width: 100%;
    }
    
    /* FOOTER */
    .footer {
        padding-top: 55px;
        padding-bottom: 55px;
    }
    
    .footer__container {
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }
    
    .footer__logo {
        margin-right: 0;
    }
    
    .footer__lists {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        gap: 40px;
    }
    
    .footer__list:first-child {
        margin-right: 0px;
    }
    
    .footer__list:nth-child(2) {
        margin-right: 0px;
    }
    
    .footer__link {
        text-align: center;
        display: block;
    }
}

/* MEDIA-QUERIES */
/* 800PX */
@media only screen and (max-width: 800px) {
    /* HEADER */
    .sitenav,
    .signup {
        display: none;
    }
    
    .header__container {
        justify-content: space-between;
    }
    
    .header__btn {
        display: block;
    }
    
    /* HERO */
    .hero {
        background-size: 661px 487px;
        background-position: left 100px top 0px;
    }
    
    .hero__content {
        padding-top: 490px;
        padding-bottom: 8px;
        align-self: center;
        align-items: center;
    }
    
    .hero__title {
        font-size: 70px;
        line-height: 75px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .hero__subtitle {
        text-align: center;
    }
    
    /* STATISTICS */
    .statistics__title,
    .started__title {
        font-size: 38px;
    }  
}

/* MEDIA-QUERIES */
/* 600PX */
@media only screen and (max-width: 600px) {
    /* HERO */
    .hero {
        padding-top: 25px;
        background-size: 611px 437px;
        background-position: left 50px top 0px;
    }
    
    .hero__content {
        padding-top: 440px;
    }
    
    .hero__title {
        font-size: 58px;
        line-height: 65px;
        margin-bottom: 15px;
    }
    
    .hero__subtitle {
        margin-bottom: 32px;
    }
    
    /* STATISTICS */
    .statistics__title,
    .started__title {
        font-size: 36px;
    }  
    
    .statistics__subtitle {
        width: 450px;
    }
}

/* MEDIA-QUERIES */
/* 500PX */
@media only screen and (max-width: 500px) {
    /* STATISTICS */
    .statistics__title {
        font-size: 32px;
    }  
    
    .statistics__subtitle {
        width: 400px;
    }
}

/* MEDIA-QUERIES */
/* 450PX */
@media only screen and (max-width: 450px) {
    /* HERO */
    .hero {
        background-size: 561px 387px;
        background-position: left 40px top 0px;
    }
    
    .hero__content {
        padding-top: 400px;
    }
    
    .hero__title {
        font-size: 50px;
        line-height: 55px;
    }
    
    /* STATISTICS */
    .statistics__title,
    .started__title {
        font-size: 28px;
    }   
    
    .statistics__subtitle {
        width: 350px;
    }
    
    /* STARTED */
    .started__title {
        margin-bottom: 16px;
    }  
}

/* MEDIA-QUERIES */
/* 400PX */
@media only screen and (max-width: 400px) {
    /* HERO */
    .hero {
        background-size: 541px 367px;
        background-position: left 30px top 0px;
    }
    
    .hero__content {
        padding-top: 380px;
    }
    
    .hero__title {
        font-size: 45px;
        line-height: 50px;
    }
    
    /* STATISTICS */
    .statistics__subtitle {
        width: 327px;
    }
}

/* MEDIA-QUERIES */
/* 375PX */
@media only screen and (max-width: 375px) {
    /* HERO */
    .hero {
        background-size: 511px 337px;
        background-position: left 24px top 0px;
    }
    
    .hero__content {
        padding-top: 374px;
    }
    
    .hero__title {
        font-size: 42px;
        line-height: 48px;
    }
    
    .hero__subtitle {
        font-size: 18px;
        line-height: 30px;
    }
    
    /* STATISTICS */
    .statistics__subtitle {
        width: 327px;
        font-size: 16px;
        line-height: 28px;
    }
}

/* MEDIA-QUERIES */
/* 374PX */
@media only screen and (max-width: 374px) {
    /* STATISTICS */
    .statistics__card {
        padding: 70px 25px 30px;
    }
    
    .statistics__subtitle {
        width: 300px;
    }
}

/* MEDIA-QUERIES */
/* 350PX */
@media only screen and (max-width: 350px) {
    .header__container {
        padding-left: 18px;
        padding-right: 18px;
    }
    
    /* STATISTICS */
    .statistics__card {
        padding: 60px 20px 25px;
    }
    
    .card-statistics__title {
        font-size: 20px;
    }
    
    .statistics__title,
    .started__title {
        font-size: 26px;
    }
    
    .statistics__subtitle {
        width: 275px;
        font-size: 15px;
        line-height: 25px;
    }
}

/* MEDIA-QUERIES */
/* 330PX */
@media only screen and (max-width: 330px) {
    /* HERO */
    .hero {
        background-size: 491px 317px;
    }
    
    .hero__title {
        font-size: 38px;
        line-height: 44px;
    }
    
    .hero__subtitle {
        font-size: 15px;
        line-height: 24px;
    }
    
    .hero__button,
    .started__button {
        font-size: 17px;
        padding: 10px 30px;
    }
    
    /* STATISTICS */
    .statistics__title,
    .started__title {
        font-size: 24px;
    }
    
    .statistics__subtitle {
        width: 250px;
    }
}

/* MEDIA-QUERIES */
/* 300PX */
@media only screen and (max-width: 300px) {
    /* HERO */
    .hero__content {
        padding-top: 324px;
    }
    
    .hero {
        background-size: 441px 267px;
    }
    
    .hero__title {
        font-size: 35px;
        line-height: 38px;
    }
    
    .hero__subtitle {
        font-size: 14px;
        line-height: 18px;
    }
    
    /* STATISTICS */
    .statistics__subtitle {
        width: 225px;
    }
    
    /* STARTED */
    .started__title {
        font-size: 20px;
    }  
}